{% extends 'base.html' %}

{% block content %}




{% if is_available == 0 %}
    <br><br>
    <h4 style="text-align: center;"> 대회 참가가 허용되지 않은 사용자입니다! </h4>
    <br><br>
{% else %}
    <section class="clean-block features">
        <div style="padding: 30px;margin: 28px;">
          <div style="text-align:center">
                <h3>{{ con.title }}</h3>
          </div>

          <h5>Contest Start Time : {{ con.start_time }}</h5>
          <h5>Contest End Time : {{ con.end_time }}</h5>
          <h5>Available Language : {{ con.get_lang_display }}</h5>

          <div class="table-responsive">
              <table class="table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th style="width: 350px;">문제 제목</th>
                        <th>정답</th>
                        <th>제출</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                {% for probs, prob_ac, prob_sub in problem_info %}
                <td>{{ probs.prob_id }}</td>
                <td><a href="{% url 'koj:problem_detail' probs.prob_id %}?contest_id={{ con.contest_id }}">{{ probs.title }}</a></td>
                <td>{{ prob_ac }}</td>
                <td>{{ prob_sub }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
          </div>

         {% for prob in con_prob %}
          <h6>{{ prob.problems }}</h6>
          {% endfor %}
          <br>

          {% for partis in con_partis %}
          <h6>{{ partis.participants }}</h6>
          {% endfor %}
          <br><br>
        </div>
    </section>
{% endif %}
{% endblock %}
