{% extends 'base.html' %}

{% block content %}
<section class="clean-block features">
    <div class="text-center" style="margin: 30px;padding: 30px;"><a href="#" style="margin: 15px;padding: 15px;">현재시간 :
     {% now "SHORT_DATETIME_FORMAT" %}</a><br>
    <div style="padding: 30px;margin: 28px;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>순번</th>
                        <th style="width: 450px;">대회제목</th>
                        <th>우승자</th>
                        <th>시작시간</th>
                        <th>종료시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
					{% for con in contest %}
						<td>{{ con.contest_id }}</td>
            <td><a href="{% url 'contest:contest_detail' con.contest_id %}">{{ con.title }}</a></td>
            <td>{{ con.winner }}</td>
            <td>{{ con.start_time }}</td>
            <td>{{ con.end_time }}</td>
            </tr>
					{% endfor %}

                </tbody>
            </table>
			<!-- 페이징처리 시작 -->

        </div>
    </div>
</section>
{% endblock %}
