{% extends 'base.html' %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive" style="margin-top: 15px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>문제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><br>{{ problem.body|linebreaksbr }}<br></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>입력</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><br>{{ problem.input|linebreaksbr }}<br></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>출력</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><br>{{ problem.output|linebreaksbr }}<br></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-6">
                <form action="{% url 'koj:status' %}?user_id={{ user.get_username }}&prob_id={{ problem.prob_id }}" method="POST">
                    {% csrf_token %}
                    <select style="margin: 15px;" name="lang" id="lang">
                        <option value="0" selected="">C</option>
                        <option value="1">C++</option>
                        <option value="2">Java</option>
                        <option value="3">Python</option>
                    </select>
                    <textarea name="code" id="code" style="margin: 30px;height: 350px;width: 500px;margin-top: 15px;"></textarea>
                    <input type="hidden" name="prob_id" id="prob_id" value="{{ problem.prob_id }}">
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-left: 470px;margin-bottom: 15px;min-width: 45px;">제출</button>
                </form>
            </div>
            {% else %}
            <div class="col-md-6">
                로그인을 먼저 해주시기 바랍니다!
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}