{% extends 'base.html' %}

{% block content %}
<div class = "container">
    <br>
    <form enctype="multipart/form-data" method = "POST" >
        {% if user.is_authenticated %}
            {% csrf_token %}
            {{ form.as_p }}
            {{ form_t.as_p }}
            <button id="btn-add-testcase" type="button" class="btn btn-info">추가</button>
            <button type="submit" class="btn btn-primary" style = "float:right;">다음</button>
        {% else %}
            로그인을 먼저 해주시기 바랍니다!
        {% endif %}
    </form>
</div>
<template id="form-template">
    {{ form_t.as_p }}
</template>
{% endblock %}

{% block script %}
    <script>
        document.querySelector("#btn-add-testcase").addEventListener('click', function(e) {
            const html = document.querySelector('#form-template').innerHTML;
            this.insertAdjacentHTML('beforebegin', html);
        });

        document.body.addEventListener('change', function(e) {
            if(e.target.name === 'is_example') {
                e.target.nextElementSibling.value = (+e.target.checked ? 1 : 0);
            }
        });
    </script>
{% endblock %}
