{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/codemirror-5.51.0/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static '/codemirror-5.51.0/doc/docs.css' %}">
<link rel="stylesheet" href="{% static '/codemirror-5.51.0/theme/dracula.css' %}">
<link rel="stylesheet" href="{% static '/codemirror-5.51.0/theme/darcula.css' %}">
<link rel="stylesheet" href="{% static '/codemirror-5.51.0/theme/abcdef.css' %}">
<link rel="stylesheet" href="{% static '/codemirror-5.51.0/theme/duotone-dark.css' %}">

<script src="{% static '/codemirror-5.51.0/lib/codemirror.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/mode/xml/xml.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/mode/javascript/javascript.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/mode/clike/clike.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/mode/css/css.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/mode/htmlmixed/htmlmixed.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/addon/edit/matchbrackets.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/addon/selection/active-line.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/doc/activebookmark.js' %}"></script>

<!--Lint
<script src="https://unpkg.com/jshint@2.9.6/dist/jshint.js"></script>
<script src="https://unpkg.com/jsonlint@1.6.3/web/jsonlint.js"></script>
<script src="https://unpkg.com/csslint@1.0.5/dist/csslint.js"></script>
<script src="{% static '/codemirror-5.51.0/addon/lint/lint.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/addon/lint/javascript-lint.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/addon/lint/json-lint.js' %}"></script>
<script src="{% static '/codemirror-5.51.0/addon/lint/css-lint.js' %}"></script>
-->

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive" style="margin-top: 15px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>문제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><br>{{ problem.body|linebreaksbr }}<br></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>입력</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><br>{{ problem.input|linebreaksbr }}<br></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>출력</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><br>{{ problem.output|linebreaksbr }}<br></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-6">
                <form action="{% url 'koj:status' %}?user_id={{ user.get_username }}&prob_id={{ problem.prob_id }}" method="POST">
                    {% csrf_token %}
                    <li class = "active"><a href="{% url 'koj:status' %}?user_id={{ user.get_username }}&prob_id={{ problem.prob_id }}">내 소스</a></li>
                    <select style="margin: 15px;" name="lang" id="lang" onchange="selectLang()">
                        <option value="0" selected>C</option>
                        <option value="1">C++</option>
                        <option value="2">Java</option>
                        <option value="3">Python</option>
                    </select>
                    <select style="margin: 15px;" name="themes" id="themes" onchange="selectTheme()">
                        <option value="0" selected>default</option>
                        <option value="1">abcdef</option>
                        <option value="2">duotone-dark</option>
                        <option value="3">dracula</option>
                        <option value="4">darcula</option>
                    </select>
                    <textarea name="code" id="code" style="margin: 30px;height: 350px;width: 500px;margin-top: 15px;">{{ code.code }}</textarea>
                    <script>

                      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                        lineNumbers: true,
                        styleActiveLine: true,
                        matchBrackets: true,
                        mode:"text/x-csrc"

                      });

                      var input_lang = document.getElementById("lang");
                      var input_theme = document.getElementById("themes");

                      function selectLang() {
                        var values = input_lang.options[input_lang.selectedIndex].value;
                        var theme;
                        var mode;

                        if(values == 0){
                        mode = "text/x-csrc";
                        editor.setOption("mode", mode);
                        }
                        else if(values == 1){
                        mode = "text/x-c++src";
                        editor.setOption("mode", mode);
                        }
                        else if(values == 2){
                        mode = "text/x-java";
                        editor.setOption("mode", mode);
                        }
                        else if(values == 3){
                        mode = "python";
                        editor.setOption("mode", mode);
                        }
                      }

                      function selectTheme() {
                        var values = input_theme.options[input_theme.selectedIndex].value;
                        var theme;

                        if(values == 0){
                        theme = 'default';
                        editor.setOption("theme", theme);
                        }
                        else if(values == 1){
                        theme = 'abcdef';
                        editor.setOption("theme", theme);
                        }
                        else if(values == 2){
                        theme = 'duotone-dark';
                        editor.setOption("theme", theme);
                        }
                        else if(values == 3){
                        theme = 'dracula';
                        editor.setOption("theme", theme);
                        }
                        else if(values == 4){
                        theme = 'darcula';
                        editor.setOption("theme", theme);
                        }
                        location.hash = "#" + theme;
                      }

                      var choice = (location.hash && location.hash.slice(1)) ||
                                    (document.location.search &&
                                    decodeURIComponent(document.location.search.slice(1)));
                      if (choice) {
                        input.value = choice;
                        editor.setOption("theme", choice);
                      }

                      CodeMirror.on(window, "hashchange", function() {
                        var theme = location.hash.slice(1);
                        if (theme) { input_theme.value = theme; selectTheme(); }
                      });

                      </script>
                    <input type="hidden" name="prob_id" id="prob_id" value="{{ problem.prob_id }}">
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-left: 470px;margin-bottom: 15px;min-width: 45px;">제출</button>
                </form>
            </div>
            {% else %}
            <div class="col-md-6">
                로그인을 먼저 해주시기 바랍니다!
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
