{% extends "base.html" %}
{% block content %}
<section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading"></div>
            <form>
                <h2 class="text" style="text-align: center;margin-bottom: 50px;">환영합니다!</h2>
                <label style="text-align: center;width: 100%;margin-bottom: 20px;">성공적으로 가입되었습니다.</label>
                <button class="btn btn-primary btn-block" type="button" onclick="location.href='/common/login?next=/'">로그인하러 가기</button></form>
        </div>
    </section>
{% endblock %}
