{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <br>
    <h2>이름 : {{ User.username }}</h2>
    <h5>전공 : {{ User.get_major_display }}</h5>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="table-responsive" style="margin-top: 15px;">

                {% for rank, solved, submit, ac, wa, tle, ole, mle, ce, re in user_submits  %}
                <table class="table">
                    <tr>
                        <th>랭킹</th>
                        <th>{{ rank }}</th>
                    </tr>
                    <tr>
                        <th>맞은 문제</th>
                        <th>{{ solved }}</th>
                    </tr>
                    <tr>
                        <th>제출</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}">{{ submit }}</a>
                        </th>
                    </tr>
                    <tr>
                        <th>AC</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}&result=0">{{ ac }}</a></th>
                    </tr>
                    <tr>
                        <th>WA</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}&result=1">{{ wa }}</a></th>
                    </tr>
                    <tr>
                        <th>시간초과</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}&result=2">{{ tle }}</a></th>
                    </tr>
                    <tr>
                        <th>출력초과</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}&result=3">{{ ole }}</a></th>
                    </tr>
                    <tr>
                        <th>메모리 초과</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}&result=4">{{ mle }}</a></th>
                    </tr>
                    <tr>
                        <th>컴파일 에러</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}&result=5">{{ ce }}</a></th>
                    </tr>
                    <tr>
                        <th>런타임 에러</th>
                        <th><a href="{% url 'koj:status' %}?user_id={{ User.username }}&result=6">{{ re }}</a></th>
                    </tr>
                </table>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            <br>
            맞은 문제 :
            {% for submit in submits_ac_d %}
            <th><a href="{% url 'koj:problem_detail' submit.prob_id %}" , style="color:#04B404; font-weight: bold"> {{ submit.prob_id }}</a>
            <th>
                {% endfor %}
                <br>
                시도했지만 풀지 못한 문제 :
                {% for submit in submits_wa%}
            <th><a href="{% url 'koj:problem_detail' submit.prob_id %}" , style="color:#FF4000"> {{ submit.prob_id }}</a>
            <th>
                {% endfor %}
                <br>
        </div>


    </div>
</div>
</div>
{% endblock %}
