{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{form.media}}
        {{ form.as_p }}
        <!--
          <form method = "POST" action=".">
                {% csrf_token %}
              {% for field in form %}
              <div class ="form-group">
                  <label for = "{{ field.id_for_label }}">{{field.label}}</label>
                  {{ field.field.widget.name }}

                  {% if field.name == 'content' %}
                    {{field.content}}
                 <textarea class = "form-control" name = "{{ field.name }}" placeholder = "{{field.label}}"></textarea>

                  {% elif field.name == 'head' %}
                   <select name="{{ field.name }}">
                      <option value="N">자유</option>
                      <option value="Q">질문</option>
                      <option value="I">정보</option>
                   </select>

                 {% else %}
                 <input type = "{{ field.field.widget.input_type }}" class ="form-control" id ="{{field.id_for_label}}"
                 placeholder = "{{field.label}}" name = "{{field.name}}">
                 {% endif %}
               </div>
            {% if field.errors %}
            <span style = "color:red">{{field.errors}}</span>
            {% endif %}
            {% endfor %}
            -->
        <input class="btn btn-dark" type="submit" value="수정하기">
        <!--
        <button type ="button" class = "btn btn-primary" style = "float:left;" onclick = "location.href ='/board/list/'">돌아가기</button>
        -->
    </form>

</div>

{% endblock %}
