{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{form.media}}
        <div class="table-responsive" style="margin-top: 45px;">
            <table class="table" style="max-width: 850px; margin: 0 auto 0 auto; ">
                <tbody>
                <tr>
                    <td style="width: 110px; text-align:right; vertical-align:middle;">제목</td>
                    <td colspan="5">{{form.title}}</td>
                </tr>
                <tr>
                    <td style="width: 110px; text-align:right; vertical-align:middle;">글머리</td>
                    <td colspan="5">{{form.head}}</td>
                </tr>
                <tr>
                    <td style="width: 110px; text-align:right;">내용</td>
                    <td colspan="5">{{form.content}}</td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-light" style="float:right; margin: 30px 110px 30px 0;">수정하기</button>
        </div>
        <!--
        <button type ="button" class = "btn btn-primary" style = "float:left;" onclick = "location.href ='/board/list/'">돌아가기</button>
        -->
    </form>

</div>

{% endblock %}
